<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Draggable slide carousel </title>
  <link rel="stylesheet" href="../css/draggable.css">
</head>
<body>
  <main id="main">
    <div class="carousel">
      <div class="images" tabindex="0">
        <div class="image-container">
          <img src="../images/im-one.png" draggable="false">
          <div class="caption">
            <h4> Heads Down Jack: Fury Zone </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta omnis molestiae reiciendis minus, provident nisi cum impedit distinctio hic consequatur neque nulla tempore. Ipsam, accusamus perferendis. Vel sapiente voluptate ab!</p>
            <span>Runtime: 1hr 47mins </span>
            <span>Rotten Tomato: 9.8</span>
          </div>
        </div>
        <div class="image-container">
          <img src="../images/im-two.png" draggable="false">
          <div class="caption">
            <h4> My Friend Camouse </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta omnis molestiae reiciendis minus, provident nisi cum impedit distinctio hic consequatur neque nulla tempore. Ipsam, accusamus perferendis. Vel sapiente voluptate ab!</p>
            <span>Runtime: 1hr 27mins </span>
            <span>Rotten Tomato: 7.6</span>
          </div>
        </div>
        <div class="image-container">
          <img src="../images/im-three.png" draggable="false">
          <div class="caption">
            <h4> Zoned Out </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta omnis molestiae reiciendis minus, provident nisi cum impedit distinctio hic consequatur neque nulla tempore. Ipsam, accusamus perferendis. Vel sapiente voluptate ab!</p>
            <span>Runtime: 2hrs 7mins </span>
            <span>Rotten Tomato: 8.8</span>
          </div>
        </div>
        <div class="image-container">
          <img src="../images/im-four.png" draggable="false">
          <div class="caption">
            <h4> Dragon's curse: El Camor </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta omnis molestiae reiciendis minus, provident nisi cum impedit distinctio hic consequatur neque nulla tempore. Ipsam, accusamus perferendis. Vel sapiente voluptate ab!</p>
            <span>Runtime: 2hrs 57mins </span>
            <span>Rotten Tomato: 9.8</span>
          </div>
        </div>
        <div class="image-container">
          <img src="../images/im-five.png" draggable="false">
          <div class="caption">
            <h4> Groot: The sight beyond </h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta omnis molestiae reiciendis minus, provident nisi cum impedit distinctio hic consequatur neque nulla tempore. Ipsam, accusamus perferendis. Vel sapiente voluptate ab!</p>
            <span>Runtime: 2hrs 15mins </span>
            <span>Rotten Tomato: 10.0</span>
            <br>
            <span> </span>
          </div>
        </div>
      </div>
      <div class="trackers">
      </div>
    </div>
  </main>

  <script src="../js/draggable.js"></script>
</body>
</html>